<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="permission android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:forceDarkAllowed="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSpot"
        tools:targetApi="31">
        <activity
            android:name=".app.usuario.NotificacionActivity"
            android:exported="false" />
        <activity
            android:name=".app.mensajes.SolicitudesActivity"
            android:exported="false" />


        <activity
            android:name=".app.mensajes.ChatsActivity"
            android:exported="false" />
        <activity
            android:name=".app.reuniones.MisReunionesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.spot.MeGustaActivity"
            android:exported="false"
            android:label="@string/title_activity_me_gusta"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppSpot.NoActionBar" />
        <activity
            android:name=".app.spot.SpotActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.usuario.EditUsuarioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.usuario.PerfilActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.add.AddSpotSubidaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".app.add.AddSpotMapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.add.AddSpotActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.usuario.RegistrarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>